{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

{% block title %}Contato{% endblock title %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Formulário de contato</h1>
    {% bootstrap_messages %}
    <form action="contato.html" method="post" class="form" autocapitalize="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Enviar</button>
        {% endbuttons %}
    </form>
</div>
<br>
<br>
<br>
{% bootstrap_javascript jquery='full' %}

<div id="rede-socias">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <h2 class="main-title">Nossas redes sócias</h2>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'img/facebook-logo.png' %}" class="card-img-top" alt="Imagem de Perfil 1">
                    <div class="card-body" id="card-face">
                        <h5 class="card-title">Facebook</h5>
                        <br>
                        <a href="https://www.facebook.com" class="main-btn-info" target="_blank">Acesse</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'img/instagram-logo.png' %}" class="card-img-top" alt="Imagem de Perfil 2">
                    <div class="card-body" id="card-insta">
                        <h5 class="card-title">Instagram</h5>
                        <br>
                        <a href="https://www.instagram.com" class="main-btn-info" target="_blank">Acesse</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'img/youtube-logo.png' %}" class="card-img-top" alt="Imagem de Perfil 3">
                    <div class="card-body" id="card-youtube">
                        <h5 class="card-title">Youtube</h5>
                        <br>
                        <a href="https://www.youtube.com" class="main-btn-info" target="_blank">Acesse</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'img/twitch-logo.png' %}" class="card-img-top" alt="Imagem de Perfil 4">
                    <div class="card-body" id="card-twitch">
                        <h5 class="card-title">Twitch</h5>
                        <br>
                        <a href="https://www.twitch.tv" class="main-btn-info" target="_blank">Acesse</a>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
    </div>
</div>
{% endblock content %}