{% extends 'base.html' %}

{% load static %}

{% block title %}Pagina inicial{% endblock title %}

{% block content %}
<!-- Cardes das postagens-->
<article>
    <div id="card-posts">
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="col-12">
                <h2 class="main-title">Ultimas postagens</h2>
            </div>
            {% for p in post %}
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="/media/{{ p.imagem }}" alt="">
                    <div class="card-body" id="card-post">
                        <h4 class="card-title">{{ p.titulo }}</h4>
                        <br>
                        <p class="date">
                            Publicado por {{ p.autor }} em {{ p.criado }}
                        </p>

                        <P>
                            {{ p.conteudo |linebreaks|truncatewords:10}}
                        </P>

                        <a href="#" class="main-btn-info" target="_blank">Acesse</a>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
            {% endfor %}
        </div>
    </div>
</article>

{% endblock content %}