{% extends 'base.html' %}

{% load static %}

{% block title %}Pagina inicial{% endblock title %}

{% block content %}

<article>
    <div id="card-posts">
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/logo.png' %}" alt="">
                    <div class="card-body" id="card-post">
                        <h4 class="card-title">Titulo</h4>

                        <p class="date">
                            Publicado em xx/xx/xxxx
                        </p>

                        <p>
                            Descrição
                        </p>

                        <br>
                        <a href="#" class="main-btn-info" target="_blank">Acesse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
{% endblock content %}