{% extends 'base.html' %}

{% load static %}

{% block title %} {{ post.titulo }} {% endblock title %}

{% block content %}

<div id="body-postagem">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <p>
        <div class="col-12">
            <h1 id="postagem-titulo">{{ post.titulo }}</h1>
        </div>
        </p>
        <img src="/media/{{ post.imagem }}" alt="..." id="postagem-imagem">
        <br>
        <br>
        <p class="date" id="post-conteudo">
            {{post.conteudo |linebreaks}}
        </p>
        <br>
        <br>
        <p class="date" id="post-conteudo">
            Publicação criada em {{ post.criado }} por {{ post.autor }}
        </p>
        <br>
        <br>
    </div>
</div>
{% endblock content %}